<section>
  <input type="checkbox" id="check">
  <label class="button bars" for="check"><i class="fas fa-bars" id="nightmare"></i></label>
  <div class="side_bar">
    <div class="title">
      <div class="logo">Name of Game</div>
      <label class=" button cancel" for="check"><i class="fas fa-times"></i></label>
    </div>
    <ul>
      {{!-- <li><a href="/"><i class='bx bx-home-alt'></i>Home</a></li> --}}
      <li><a href="#"><i class='bx bx-game'></i>Game</a></li>
      <li><a href="#"><i class='bx bx-pie-chart-alt-2'></i>Highscore</a></li>
      <li id="logout"><a><i class='bx bx-log-out'></i>Logout</a></li>
    </ul>
  </div>
</section>
<section>
  <div id="timer"></div>
  <div class="container">
    <div class="card">
      <div>
        {{!-- Import the textContent of random fact --}}
        <h1 class="main-text" id="displayRandomFact"></h1>
      </div>
      <div class="contentBx">
        <h2>Can you believe that?</h2>
        <div class="color"></div>
        <button id="true-btn" style="visibility:hidden">True</button>
        <button id="false-btn" style="visibility:hidden">False</button>
        <button id="playGame">Play Game</button>
        <button id="endGame" style="visibility:hidden">End Game</button>
      </div>
    </div>
  </div>
  <script src="/js/index.js"></script>
  {{!-- <script src="/js/logout.js"></script> --}}
</section>