<section>
  <input type="checkbox" id="check">
  <label class="button bars" for="check"><i class="fas fa-bars" id="nightmare"></i></label>
  <div class="side_bar">
    <div class="title">
      <div class="logo">Fact or Fiction</div>
      <label class=" button cancel" for="check"><i class="fas fa-times"></i></label>
    </div>
    <ul>
      {{!-- <li><a href="/"><i class='bx bx-home-alt'></i>Home</a></li> --}}
      <li><a href="/gamePage"><i class='bx bx-game'></i>Game</a></li>
      <li><a href="/highscores"><i class='bx bx-pie-chart-alt-2'></i>Highscores</a></li>
      <li id="logout"><a><i class='bx bx-log-out'></i>Logout</a></li>
    </ul>
  </div>
</section>

<section class="leaderboard">
  <div class="containero">
		<div class="leaderboard">
			<div class="head">
				<i class="fas fa-crown"></i>
				<h1>Most active Players</h1>
			</div>
			<div class="lista">
				<ol class="listo">
					<li>
						<mark>Sara</mark>
						<small>948</small>
					</li>
					<li>
						<mark>Aaron</mark>
						<small>750</small>
					</li>
					<li>
						<mark>Matthew</mark>
						<small>684</small>
					</li>
					<li>
						<mark>Victor</mark>
						<small>335</small>
					</li>
					<li>
						<mark>Angel</mark>
						<small>296</small>
					</li>
          <div ontouchstart="">
            <div class="button3">
              <a href="#">Play again</a>
            </div>
          </div>
				</ol>
        
			</div>
      
		</div>
   
	</div>
  
 
</div>
</section>





<section>
  <script src="/js/logout.js"></script>
</section>