<section>
  <input type="checkbox" id="check">
  <label class="button bars" for="check"><i class="fas fa-bars" id="nightmare"></i></label>
  <div class="side_bar">
    <div class="title">
      <div class="logo">Fact or Fiction</div>
      <label class=" button cancel" for="check"><i class="fas fa-times"></i></label>
    </div>
    <ul>
      {{!-- <li><a href="/"><i class='bx bx-home-alt'></i>Home</a></li> --}}
      <li><a href="/gamePage"><i class='bx bx-game'></i>Game</a></li>
      <li><a href="/highscores"><i class='bx bx-pie-chart-alt-2'></i>Highscores</a></li>
      <li id="logout"><a><i class='bx bx-log-out'></i>Logout</a></li>
    </ul>
  </div>
</section>



//Angel insert HTML template in this section

<section>
  <script src="/js/logout.js"></script>
</section>