<section id="fact">
  <h1>FACT</h1>
</section>

<section id="section-one">
  <div class="login-modal">
    <div class="close-btn">
      <a href="#">&times;</a>
    </div>
    <h1>Login</h1>
    <form method="POST">
      <input type="text" name="username" placeholder="Your username" required id = "users">
      <input type="password" name="password" placeholder="Your password" required id = "password">
    <input type="submit" name="login" value="Login" id = "login">
    </form>
    <a href="#" class="forgot-password">Forgot password ?</a>
    
    
    
    <span class="login-modal-text">or Login in with</span>
<div><img  class ="google"src="https://developers.google.com/static/identity/images/btn_google_signin_dark_normal_web.png" alt="google"> </div>
    
    {{!-- <div id="g_id_onload"
         data-client_id="YOUR_GOOGLE_CLIENT_ID"
         data-login_uri="https://your.domain/your_login_endpoint"
         data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
         data-type="filled_blue"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="pill"
         data-logo_alignment="left">
      </div> --}}
    
    <div class="login-with">    
           
      
      <div class="login-modal-footer">
        <span>Not a member ? <a href="#" id="signUp">Sign up</a></span>
      </div>
    </div>
    
    
  </div>
</section>

<section id="section-two" style="display:none;">
  <div class="login-modal">
    <div class="close-btn">
      <a href="#">&times;</a>
    </div>
    <h1>Signup</h1>
    <form action="" method="POST">
      <!-- First Name -->
      <input type="text" name="first_name" class="username-input" placeholder="Username" required id="username-input-signup">
      <!-- Password -->
      <input type="password" name="password" class="password-input" placeholder="Password" required id="password-input-signup">
      <!-- Confirm Password 
      <input type="password" name="password2" class="password-input" placeholder="Confirm password" required>-->
    </form>
    <button class="sign-up" id="signup-form" href="/gamePage">Signup</button> 
    <input type="checkbox" name="checkbox" value="check" id="agree" !> 
    <p class = "Terms">I have read and agree to the Terms and Conditions and Privacy Policy</p>
  </div>
</div>
</section>

<section id="fiction">
  <h1>FICTION</h1>
</section>

<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>

