<div class="results-page">
    <div class="container1">
        <h3 class="results-page__info">Your final score :</h3>
        <h2 class="results-page__score">100%</h2>
        <button class="results-page__retake-btn btn">Take it again</button>
        <a class="results-page__btn-link btn" href="" target="_blank">Fake or Not Time!</a>
    </div>
</div>
