<section>
  <input type="checkbox" id="check">
  <label class="button bars" for="check"><i class="fas fa-bars" id="nightmare"></i></label>
  <div class="side_bar">
    <div class="title">
      <div class="logo">Name of Game</div>
      <label class=" button cancel" for="check"><i class="fas fa-times"></i></label>
    </div>
    <ul>
      {{!-- <li><a href="/"><i class='bx bx-home-alt'></i>Home</a></li> --}}
      <li><a href="/gamePage"><i class='bx bx-game'></i>Game</a></li>
      <li><a href="#"><i class='bx bx-pie-chart-alt-2'></i>Highscore</a></li>
      <li id="logout"><a><i class='bx bx-log-out'></i>Logout</a></li>
    </ul>
  </div>
</section>



  <div class="results-page">
    <div class="containerpage">
        <h3 class="results-page__info">Your final score :</h3>
        <h2 class="results-page__score">100%</h2>
        <button id="play-again" class="results-page__retake-btn btn">Play Again</button>
        {{!-- <a class="results-page__btn-link btn" href="" target="_blank">Fake or Not time!</a> --}}
    </div>

<section>
  
  <script src="/js/index.js"></script>
  <script src="/js/results.js"
  <script src="/js/logout.js"></script>
</section>