
  .display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 65px;
    color: #F7958E;
  }
 
  .e-c-base {
    fill: none;
    stroke: #B6B6B6;
    stroke-width: 4px
  }
  .e-c-progress {
    fill: none;
    stroke: #F7958E;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
  }
  .e-c-pointer {
    fill: #FFF;
    stroke: #F7958E;
    stroke-width: 2px;
  }
  #e-pointer { transition: transform 0.7s; }
